{% extends "base.html" %}
{% set active_page = "admin_keys" %}
{% block title %}
<title>Edit Key - {{ SITE_NAME }}</title>
{% endblock %}
{% block dashboard_stat %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Key
        <small>{% if create %}New key{% else %}{{ key.id }}{% endif %}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for('dashboard.dashboard') }}"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="{{ url_for('admin.manage_keys') }}">Key</a></li>
        <li class="active">{% if create %}Add{% else %}Edit{% endif %} key</li>
    </ol>
</section>
{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{% if create %}Add{% else %}Edit{% endif %} key</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post"
                    action="{% if create %}{{ url_for('admin.edit_key') }}{% else %}{{ url_for('admin.edit_key', key_id=key.id) }}{% endif %}"
                    {% if playkey %}disabled{% endif %}
                >
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="create" value="{{ create }}">
                    <div class="box-body">
                        <div class="form-group{% if errors and errors.role %} has-error{% elif errors %} has-success{% endif %}">
                            <label class="control-label" for="role">Role</label>
                            <select class="key_role form-control" id="key_role" name="key_role">
                                {% for role in roles %}
                                {% set role_selected = ((key is none and role.name == "User") or (key is not none and (role.id==key.role.id)))  %}
                                <option value="{{ role.name }}"{% if role_selected %}selected{% endif %}>{{ role.name }}</option>
                                {% endfor %}
                            </select>
                            {% if errors %}
                            {% for err in (errors.role | default([], true)) %}
                            <span class="help-block">{{ err }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group has-feedback{% if errors and errors.description %} has-error{% elif errors %} has-success{% endif %}">
                            <label class="control-label" for="description">Description</label>
                            <input type="text" class="form-control" placeholder="Description" name="description"
                                {% if key is not none %} value="{{ key.description }}" {% endif %}> <span
                                class="glyphicon glyphicon-pencil form-control-feedback"></span>
                            {% if errors %}
                            {% for err in (errors.description | default([], true)) %}
                            <span class="help-block">{{ err }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group{% if errors and errors.accounts %} has-error{% elif errors %} has-success{% endif %}">
                            <label class="control-label" for="key_accounts">Accounts Access Control</label>
                            <select class="form-control" id="key_accounts" name="key_accounts" multiple placeholder="Select accounts">
                              {% for account in key.accounts %}
                              <option value="{{ account.id }}" selected>{{ account.name }}</option>
                              {% endfor %}
                            </select>
                            {% if errors %}
                            {% for err in (errors.accounts | default([], true)) %}
                            <span class="help-block">{{ err }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group{% if errors and errors.domains %} has-error{% elif errors %} has-success{% endif %}">
                            <label class="control-label" for="key_domains">Domains Access Control</label>
                            <select class="form-control" id="key_domains" name="key_domains" multiple placeholder="Select domains">
                              {% for domain in key.domains %}
                              <option value="{{ domain.id }}" selected>{{ domain.name }}</option>
                              {% endfor %}
                            </select>
                            {% if errors %}
                            {% for err in (errors.domains | default([], true)) %}
                            <span class="help-block">{{ err }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="box-footer">
                      <button type="submit"
                          class="btn btn-flat btn-primary" id="key_submit">{% if create %}Create{% else %}Update{% endif %}
                          Key</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Help with {% if create %}creating a new{% else%}updating a{% endif %} key
                    </h3>
                </div>
                <div class="box-body">
                    <p>Fill in all the fields in the form to the left.</p>
                    <p><strong>Role</strong> The role of the key. Administrator and Operators keys have access to all domains</p>
                    <p><strong>Description</strong> The key description.</p>
                    <p><strong>Access Control</strong> The domains or accounts which the key has access to.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extrascripts %}
<script>
  async function search_accounts(query) {
    let url = "{{ url_for('admin.search_accounts') }}";
    let data = [];

    if (query) {
      url += `/${encodeURIComponent(query)}`;
    }

    try {
      data = await $.ajax({url, type: "GET"});
    } catch (error) {
      console.log(error);
    }

    return data;
  }

  async function search_domains(query) {
    let url = "{{ url_for('admin.search_domains') }}";
    let data = [];

    if (query) {
      url += `/${encodeURIComponent(query)}`;
    }

    try {
      data = await $.ajax({url, type: "GET"});
    } catch (error) {
      console.log(error);
    }

    return data;
  }

  async function init_form_key() {
    const $form = $('form');
    const $keyRole = $('#key_role');
    const $keyAccounts = $('#key_accounts');
    const $keyDomains = $('#key_domains');
    const accounts = await search_accounts();
    const domains = await search_domains();

    $keyAccounts.selectize({
      create: false,
      valueField: 'id',
      labelField: 'name',
      searchField: 'name',
      options: accounts,
      load: async function(query, callback) {
        const data = await search_accounts(query);
        callback(data);
      },
    });
    $keyDomains.selectize({
      create: false,
      valueField: 'id',
      labelField: 'name',
      searchField: 'name',
      options: domains,
      load: async function(query, callback) {
        const data = await search_domains(query);
        callback(data);
      },
    });

    const selectizeAccounts = $keyAccounts.get(0).selectize
    const selectedDomains = $keyDomains.get(0).selectize

    {# Show only for user role #}
    function toggleAccountsDomains() {
      if ($keyRole.val() == 'User') {
        $keyAccounts.parent().show();
        $keyDomains.parent().show();
      } else {
        $keyAccounts.parent().hide();
        $keyDomains.parent().hide();
        selectizeAccounts.setValue([], true);
        selectedDomains.setValue([], true);
      }
    };

    $keyRole.on('change', toggleAccountsDomains);

    const validationClass = ['has-success', 'has-warning', 'has-error'];
    $form.on('change', function(e){
      $form.find('div.form-group').removeClass(validationClass);
      $form.find('div.form-group > span.help-block').remove();
    });

    $form.submit(function(){
      $form.children('button[type=submit]').prop("disabled", true);
    })

    toggleAccountsDomains();
  }

  init_form_key();

  {% if key.plain_key %}
  $(document).ready(function(){
    const $modal = $("#modal_show_key");
    $modal.on('hide.bs.modal', function(){
      window.location.href = "{{ url_for('admin.manage_keys') }}";
    })
    $modal.modal('show')
  });
  {% endif %}
</script>
{% endblock %}
{% block modals %}
<div class="modal fade" id="modal_show_key">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="button_close_modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Your API key</h4>
            </div>
            <div class="modal-body">
              <div class="form-group has-feedback">
                  <span class="glyphicon glyphicon-alert form-control-feedback"></span>
                  <input type="text" class="form-control" value="{{ key.plain_key | default('') }}" readonly>
                  <span class="help-block">Please note that the generated key will no longer be visible.</span>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_warning">
  <div class="modal-dialog">
      <div class="modal-content modal-sm">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="button_close_warn_modal">
                  <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">WARNING</h4>
          </div>
          <div class="modal-body">
              <p></p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-flat btn-primary center-block" id="button_key_confirm_warn">
                  OK</button>
          </div>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
{% endblock %}
